#faq li{
    margin: 20px 0;
}
.fs-13
{
    font-size: 13px;
}
header
{
    height: 50px;
}
header img 
{
    width: 150px;
    height: auto;
    padding: 10px 5px;
}
header span 
{
    font-size: 25px;
}
.color-gray
{
    color: darkgrey;
}
hr{
    padding:0;
    margin: 0;
}
nav ul
{
   display: flex;
   list-style-type: none;
   margin:0;
}
nav li
{
   padding: 20px 30px;
}
.active
{
    border-bottom: 5px solid #3367D6;
    color:#3367D6;
}
footer
{
    height: 50px;
    background-color: lightgray;
}
footer ul
{
   display: flex;
   align-items: center;
   height: 100%;
}
footer li
{
   padding: 0 30px;
}